<!-- routerLink="/task-details/{{task.id}}" ==> for single page navigation -->

<!-- (click)="onSelect(task)" -->

<div class="task">
  <h3>
    fName: {{ task.firstName }}
    <!-- <fa-icon
      [ngStyle]="{ color: 'red' }"
      [icon]="faTrash"
      (click)="onDelete(task)"
    ></fa-icon> -->

    <div>
      <button class="task-btn" [ngStyle]="{ color: 'red' }" (click)="onDelete(task)">
        delete
      </button>
      <span>{{'      '}}</span>
      <button class="task-btn" [ngStyle]="{ color: 'green' }" (click)="onUpdate(task)">
        update
      </button>
    </div>
  </h3>
  <p>LName: {{ task.lastName }}</p>
  <p>age: {{ task.age }}</p>
  <p>email: {{ task.email }}</p>
  <p>hiredAt: {{ task.hiredAt }}</p>
</div>
