<form class="add-form" (ngSubmit)="onSubmit()"

  *ngIf="showAddTask || showEditTask"
  >

 
 <div class="form-control">
  <label for="firstName">First name</label>
  <input type="text" name="firstName" id="firstName" placeholder="first name" 
  [(ngModel)]='emp.firstName'
  >

 </div>

  <div class="form-control">
  <label for="lastName">last name</label>
  <input type="text" name="lastName" id="lastName" placeholder="last name" 
  [(ngModel)]='emp.lastName'
  >

 </div>

 
  <div class="form-control">
  <label for="age">age</label>
  <input type="number" name="age" id="age" placeholder="age" 
  [(ngModel)]='emp.age'
  >

 </div>

  <div class="form-control">
  <label for="email">email</label>
  <input type="email" name="email" id="email" placeholder="email" 
  [(ngModel)]='emp.email'
  >

 </div>
 
 <div class="form-control">
 <label for="hiredAt">Hiring date</label>
 <input type="string" name="hiredAt" id="hiredAt" placeholder="hiredAt"
  [(ngModel)]='emp.hiredAt'
 >

</div>
 

  

 <input type="submit" [value]="showAddTask?'Save Task':'Edit Task'" class="btn btn-block" >

</form>