<ng-container
  exampleName="add department form"
  githubLinkOverride="add department form"
  *ngIf="formState$ | async as formState"
>
  <div class="wrapper">
    <h1>Mutate Department list</h1>

    <form [ngrxFormState]="formState" (submit)="submit()">
      <!-- name -->
      <span class="p-float-label custom-input">
        <input
          id="float-input"
          type="text"
          pInputText
          [ngrxFormControlState]="formState.controls.name"
        />
        <label for="float-input">name</label>
        <div
          *ngIf="
            formState.controls.name.isInvalid &&
            formState.controls.name.isTouched
          "
        >
          <small class="text-danger" *ngIf="formState.errors._name?.required"
            >name is required</small
          >
          <!-- <small class="text-danger" *ngIf="name.errors?.minlength"
          >name must be at least 3 characters</small -->
          >
        </div>
      </span>

      <!-- manager -->
      <span class="p-float-label custom-input">
        <input
          id="float-input"
          type="text"
          pInputText
          [ngrxFormControlState]="formState.controls.manager"
        />
        <label for="float-input">manager</label>
        <div
          *ngIf="
            formState.controls.manager.isInvalid &&
            formState.controls.manager.isTouched
          "
        >
          <small class="text-danger" *ngIf="formState.errors._manager?.required"
            >manager is required</small
          >
          <!-- <small class="text-danger" *ngIf="manager.errors?.minlength"
          >manager must be at least 3 characters</small -->
          >
        </div>
      </span>

      <!-- emps no -->
      <span class="p-float-label custom-input">
        <input
          id="float-input"
          type="number"
          pInputText
          [ngrxFormControlState]="formState.controls.emps_no"
        />
        <label for="float-input">Employees number</label>
        <div
          *ngIf="
            formState.controls.emps_no.isInvalid &&
            formState.controls.emps_no.isTouched
          "
        >
          <small class="text-danger" *ngIf="formState.errors._emps_no?.required"
            >Employees number is required</small
          >
          <!-- <small class="text-danger" *ngIf="emps_no.errors?.minlength"
          >emps_no must be at least 3 characters</small -->
          >
        </div>
      </span>

      <button
        color="primary"
        type="submit"
        [disabled]="formState.isInvalid && formState.isSubmitted"
        pButton
        label="Submit"
      ></button>
    </form>

    
    <p-messages></p-messages>
    
  </div>

  <div *ngIf="formState.isInvalid && formState.isSubmitted">Plz Fill the form correctly</div>
    <div *ngIf="submittedValue$ | async">
    The form was submitted with the following value:
    <br />
    <pre>{{ submittedValue$ | async | json }}</pre>
  </div>
</ng-container>
